section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0.5em;
  border-right: 1px solid #e0e0e0;
  background-color: #ffffff;
}

.section-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  color: #000000;
}

.selected {
  background-color: black;
  color: white;
}

.section-icon:hover {
  background-color: black;
  color: white;
}

.logout:hover {
  background-color: #ff4d4f;
  color: white;
}
