section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: lightgray;
  padding: 0.5em;
}

.section-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  color: #000000;
}

.selected {
  background-color: black;
  color: white;
}
