.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.form {
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
  padding: 2.5rem 3rem;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  animation: fadeIn 0.6s ease;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.title {
  text-align: center;
  margin: 0;
  font-size: 1.8rem;
  color: #1d3557;
}

.input {
  padding: 0.9rem 1rem;
  border-color: rgb(122, 122, 122);
  border-radius: 12px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  color: black;
}

.input:focus {
  background-color: #e1e1e1;
  outline: none;
  box-shadow: 0 0 0 2px #000000aa;
}

.button {
  padding: 0.9rem 1rem;
  background: linear-gradient(90deg, #4c8bf5, #5ca9ff);
  color: white;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
.linkText {
  text-align: center;
  font-size: 0.95rem;
  color: #333;
}

.linkText a {
  color: #4c8bf5;
  text-decoration: none;
  font-weight: 500;
}

.linkText a:hover {
  text-decoration: underline;
}


.button:hover {
  background: linear-gradient(90deg, #3b73db, #4c90ff);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
